:root {
    --dblue: #1b4058;
    --lblue: #C1DBEC;
    --white: #edf2f4;
    --orange: #f58f29;
  }
body::-webkit-scrollbar {
    display: none; /*Chrome, Safari, Opera*/
}
body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.whitetext {
    color: var(--white);
}
header {
    font-size: 40px;
    font-family: 'Audiowide';
    color: var(--white);
}
p {
    font-family: 'Sanchez';
    color: var(--white);
    font-size: 20px;
}
.topbar {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}
#aboutmediv {
    margin: 100px;
    text-align: center;
}
#startingtitle {
    font-family: 'Audiowide', 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    top: 250px;
    color: var(--white);
}
#startingdiv {
    height: 800px;
    margin: -50px -8px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    position: relative;
    top: -20px;
}
.buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: var(--white);
    margin: -50px -8px;
    top: 50%;
}
#ablinks a {
    border: 2px solid transparent;
    border-radius: 3px;
    font-family: Audiowide;
    text-decoration: none;
    color: var(--white);
    transition: ease .3s;
    display: inline;
    float: right;
    margin: 5px;
    margin-top: 13px;
}
#ablinks a:hover {
    border-bottom: 2px solid var(--orange);
}
.Name {
    float: left;
}
.quote {
    color: var(--orange)
}
#meface {
    border-radius: 50%;
    margin: auto;
    height: 250px;
}
#expdiv {
    display: flex;
    justify-content: center;
    text-align: center;
}
#exptable {
    width: 600px;
    border-spacing: 20px 5px;
}
.kellyslab {
    font-family: 'Kelly Slab', Arial, Helvetica, sans-serif;
    color: var(--white);
}
td {
    color: inherit;
    font-family: 'Sanchez';
    font-size: 18px;
    vertical-align: top;
}
th {
    color: inherit;
    font-family: 'Kelly Slab';
    font-size: 25px;
    vertical-align: top;
}
#employers td a {
    text-decoration: none;
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 3px;
    transition: ease .3s;
}
#employers td a:hover {
    border-bottom: 2px solid var(--orange);
}
a {
    color: var(--white);
    text-decoration: none;
}